
body {
    margin: 0;
    text-align: center;
    background-color: #322e2d;
    color: #f6f0ee;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0.5em;
}

h2 {
    font-size: 2em;
    margin: 0;
    padding: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em;
}
